
.footer {

}
body {


}
.menu {
  display: flex;
  align-items: center;
  padding: 100px;
}
.img {
  margin: 50px;
  height: 550px;
  width: 550px;
  border-radius: 50%;

}
.img-2 {
  position: absolute;
  bottom: 502px;
  padding-left: 390px;
  width: 70px;
  height: 59px;
}
.texto {
margin: 200px;
color: aliceblue;
width: 380px;
height: 158px;
font-family: 'News Cycle';
font-style: normal;
font-weight: 400;
font-size: 29px;
line-height: 40px;

}
