<div class="footer">
  <div class="redes">
    <a href="https://www.instagram.com/victor_carreras_dev/" target="_blaank">
      <img src="assets/img/instagram.png" alt="Meu Instagram">
    </a>
    <a href="https://github.com/carrerasvictor" target="_blaank">
      <img src="assets/img/github.png" alt="Meu Github">
    </a>
    <a href="https://www.linkedin.com/in/vctorcarreras/" target="_blaank">
      <img src="assets/img/linkedin.png" alt="Meu Linkedin">
    </a>
  </div>
    <div class="direitos">
      <p>
        © Todos os direitos reservados
      </p>
    </div>

</div>
