<link
  href="https://fonts.googleapis.com/css2?family=Inter&family=Itim&display=swap"
  rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Itim&display=swap"
  rel="stylesheet">
<div class="header">
  <div class="header-title">
    <a [routerLink]="['/menu']">
      <p>Victor Carreras</p>
    </a>
  </div>
  <div class="header-menu">
    <a class="nav" [routerLink]="['/skills']">Skills</a>
    <a class="nav" [routerLink]="['/sobre']">Sobre</a>
    <a class="nav" [routerLink]="['/projetos']">Projetos</a>
    <a class="nav" [routerLink]="['/contato']">Contato</a>
    <a class="nav-a" href="/src/assets/img/Currículo (Community).jpg" download="curriculum" >Download CV</a>
  </div>
</div>
