.header {
  text-decoration: none;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-title >a {
  text-decoration: none;
  color: white;
  font-family: "Itim";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  padding-left: 50px;
  display: flex;
}
.header-menu {
  display: flex;
}
.nav {
  display: flex;
  color: white;
  padding: 15px;
  text-decoration: none;
  font-weight: bold;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  width: 50px;
  height: 15px;
}
.nav:hover {
  color: #fffcc9;
}
.nav-a {
  display: flex;
  color: #b7b7b7;
  text-decoration: none;
  padding: 15px;
  font-weight: bold;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  width: 77px;
  height: 15px;
}
.nav-a:hover {
  color: #05c3dd;
}
